<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ3SwfUHvHD5Jv27BYx_j18YR_sBhEfbM</string>
	<key>GCM_SENDER_ID</key>
	<string>744505086852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectForMovieWithApi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fluttermovierestapiproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermovierestapiproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744505086852:ios:e315294778e94e234283d1</string>
</dict>
</plist>